<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>Weight rank:</strong>
  <%= @character.weight_rank %>
</p>

<p>
  <strong>Run speed:</strong>
  <%= @character.run_speed %>
</p>

<p>
  <strong>Run speed rank:</strong>
  <%= @character.run_speed_rank %>
</p>

<p>
  <strong>Walk speed:</strong>
  <%= @character.walk_speed %>
</p>

<p>
  <strong>Walk speed rank:</strong>
  <%= @character.walk_speed_rank %>
</p>

<p>
  <strong>Air speed:</strong>
  <%= @character.air_speed %>
</p>

<p>
  <strong>Air speed rank:</strong>
  <%= @character.air_speed_rank %>
</p>

<p>
  <strong>Fall speed:</strong>
  <%= @character.fall_speed %>
</p>

<p>
  <strong>Fall speed rank:</strong>
  <%= @character.fall_speed_rank %>
</p>

<p>
  <strong>Fast fall speed:</strong>
  <%= @character.fast_fall_speed %>
</p>

<p>
  <strong>Fast fall speed rank:</strong>
  <%= @character.fast_fall_speed_rank %>
</p>

<p>
  <strong>Air acceleration:</strong>
  <%= @character.air_acceleration %>
</p>

<p>
  <strong>Gravity:</strong>
  <%= @character.gravity %>
</p>

<p>
  <strong>Sh air time:</strong>
  <%= @character.sh_air_time %>
</p>

<p>
  <strong>Max jump:</strong>
  <%= @character.max_jump %>
</p>

<p>
  <strong>Wall jump:</strong>
  <%= @character.wall_jump %>
</p>

<p>
  <strong>Wall cling:</strong>
  <%= @character.wall_cling %>
</p>

<p>
  <strong>Crawl:</strong>
  <%= @character.crawl %>
</p>

<p>
  <strong>Tether:</strong>
  <%= @character.tether %>
</p>

<p>
  <strong>Jump sqaut:</strong>
  <%= @character.jump_sqaut %>
</p>

<p>
  <strong>Soft landing lag:</strong>
  <%= @character.soft_landing_lag %>
</p>

<p>
  <strong>Hard landing lag:</strong>
  <%= @character.hard_landing_lag %>
</p>

<p>
  <strong>Fh air time:</strong>
  <%= @character.fh_air_time %>
</p>


<br>
<br>

<p> PLAYING AS </p>

<br>


<% @character.playing_as.each do |match| %>

  <p>
    <strong>Name:</strong>
    <%= match.name %>
  </p>

  <p>
    <strong>Playing as:</strong>
    <td><%= Character.find(match.playing_as).name %></td>

  </p>

  <p>
    <strong>Playing against:</strong>
    <%= Character.find(match.playing_against).name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= match.user_id %>
  </p>

  <td><%= link_to 'Show', match %></td>

<% end %>

<br>
<br>
<br>

<p> PLAYING AGAINST </p>
<% @character.playing_against.each do |match| %>

  <p>
    <strong>Name:</strong>
    <%= match.name %>
  </p>

  <p>
    <strong>Playing as:</strong>
    <td><%= Character.find(match.playing_as).name %></td>

  </p>

  <p>
    <strong>Playing against:</strong>
    <%= Character.find(match.playing_against).name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= match.user_id %>
  </p>
  <td><%= link_to 'Show', match %></td>

<br>
<% end %>













<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
