<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>

<p>
  <strong>Playing as:</strong>
<%= Character.find(@match.playing_as).name %>
</p>

<p>
  <strong>Playing against:</strong>
  <%= Character.find(@match.playing_against).name %>

</p>

<p>
  <strong>User:</strong>
  <%= @match.user_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
